@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(65deg, #0F044C, #141E61);
    
    flex-direction: column;
}
.container{
    background: #0F044C;  
    width: 325px;
    height: 525px;
    border-radius: 10px;
    padding: 20px;
    opacity: 80%;
}
input{
    width: 275px ;
    height: 45px;
    margin: 5px 0px 15px 0px;
    border: none;
    border-radius: 7px;
    padding: 25px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
    
}
input::placeholder{
    color: #ffffff;
    
}
table td{
    border:0;
    padding: 5px;
}
.operation{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 25px;
    border: 0;
    background: #EEEEEE;
    font-weight: 600;
    box-shadow: 0px 3px 15px #0F044C;
    cursor: pointer;
}
.operation:hover{
    background: #fff;
}
.operator{
    background: #787A91;
    font-size: 25px;
    color: #fff;
}
.operator:hover{
    color:black
    
}
.equal{
    background: #F94C10;
}
.equal:hover{
    background: #F94C10;
    color: #fff;
}
.txt{
    margin-bottom:25px;
   
}
.txt > h1{
    color: #fff;
    font-family: monospace;
    font-size: 35px;
}
.attribute{
    position: absolute;
    bottom: 10px;
    color: #EEEEEE;
}