*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0px 50px;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body h2{
    font-size: 70px;
    width: 400px;
}
.container{
    background: #fff;
    padding: 17px 50px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 32%;
    height: 78vh;
}
.container h2{
    text-align: center;
    padding-top: 14px;
    font-size: 27px;
}
.sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up .social-icons{
    margin: 10px;
}
.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    color: #000;
    text-decoration: none;
}
.sign-up span{
    margin: 5px;
}
.sign-up input{
    background-color: #eee;
    border: none;
    margin: 8px 0px;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.sign-up select{
    background-color: #eee;
    border: none;
    margin: 8px 0px;
    padding: 10px 8px;
    font-size: 13px;
    border-radius: 8px;
    width: 361px;
    outline: none;
}
.sign-up select::option{
    /* margin-right: 10px; */
}
.sign-up button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}