
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8e1;
    height: 100vh;
    width: 100%;
}
.main-container{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 100px -80px #000;
}
.img-box{
    width: 380px;
    height: 560px;
    position: relative;
    background-color: #79AC78;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
}
.img-box img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.input-container{
    width: 380px;
    margin: 10px;
    padding: 15px;
}
h1{
    text-align: center;
    font-size: 38px;
    margin-bottom: 60px;
    position: relative;
}
h1::before{
    position: absolute;
    content: "";
    width: 105px;
    height: 6px;
    border-radius: 100px;
    background-color: #79AC78;
    bottom: -8px;   
}
.input-container form .input-box{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #79AC78;
    margin-top: 35px;
    margin-bottom: 10px;
    position: relative;
}
.input-container form .input-box input{
    width: 100%;
    font-size: 24px;
    padding: 6px 0px;
    outline: none;
    border: none;
}
.input-container form .input-box label{
    position: absolute;
    left: 0px;
    top: 10px;
    font-size: 25px;
    color: #aaaaaa;
    pointer-events: none;
    transition: 0.2s;
}
.input-container form .input-box input:focus + label,
.input-container form .input-box input:valid + label{
    top: -18px;
    color: #79AC78;
    font-size: 18px;
}